# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
**gen-ou*
*~
Makefile
CMakeCache.txt
CMakeFiles/
Makefile
Run-Cards/
ci/Run-Cards/
cmake_install.cmake
convertHepMC2EDM4HEP
convertHepMC2EDM4HEP_env.sh
/build/
/install/
CTestTestfile.cmake
DartConfiguration.tcl
Testing/
test/CTestTestfile.cmake
test/Testing/
test/ci-setups/
test/xsectionSummary.dat