name: Key4hep build

on:
  push:
    branches:
    - main
  pull_request:
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        build_type: ["release", "nightly"]
        image: ["alma9", "ubuntu22"]
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: key4hep/key4hep-actions/key4hep-build@main
      with:
        build_type: ${{ matrix.build_type }}
        image: ${{ matrix.image }}
    - uses: actions/upload-artifact@v4
      with:
        name: Cross_section_report_${{ matrix.build_type }}_${{ matrix.image }}
        path: |
          test/xsectionSummary.dat
          test/output/*
